<!--
<?php
print <<<EOT
-->
<body>
<!--include
EOT;
@include(html("side_menu"));
print<<<EOT
include-->
<div class="content">
        <div class="location"><strong>当前位置 ：</strong><a href="#">增值功能</a> &gt; <a href="#">发送记录</a></div>
        <div class="kk_title"><h1>发送记录查询</h1></div>
        <div class="kk_content">
                <table width="100%" class="ui" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <th><input type="checkbox" /></th>
                        <th>发送时间</th>
                        <th>状态</th>
                        <th>接收号码</th>
                        <th>短信内容</th>
                        <th>操作</th>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>2012-10-26 23:22:32</td>
                        <td>成功</td>
                        <td>13737762836</td>
                        <td>亲爱的会员，您好，欢迎登录什么什么做....</td>
                        <td><a href="#">重发</a></td>
                    </tr>
                    <tr class="highlight">
                        <td><input type="checkbox" /></td>
                        <td>2012-10-26 23:22:32</td>
                        <td>成功</td>
                        <td>13737762836</td>
                        <td>亲爱的会员，您好，欢迎登录什么什么做....</td>
                        <td><a href="#">重发</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>2012-10-26 23:22:32</td>
                        <td>成功</td>
                        <td>13737762836</td>
                        <td>亲爱的会员，您好，欢迎登录什么什么做....</td>
                        <td><a href="#">重发</a></td>
                    </tr>
                    <tr class="highlight">
                        <td><input type="checkbox" /></td>
                        <td>2012-10-26 23:22:32</td>
                        <td>成功</td>
                        <td>13737762836</td>
                        <td>亲爱的会员，您好，欢迎登录什么什么做....</td>
                        <td><a href="#">重发</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>2012-10-26 23:22:32</td>
                        <td>成功</td>
                        <td>13737762836</td>
                        <td>亲爱的会员，您好，欢迎登录什么什么做....</td>
                        <td><a href="#">重发</a></td>
                    </tr>
                    <tr class="highlight">
                        <td><input type="checkbox" /></td>
                        <td>2012-10-26 23:22:32</td>
                        <td>成功</td>
                        <td>13737762836</td>
                        <td>亲爱的会员，您好，欢迎登录什么什么做....</td>
                        <td><a href="#">重发</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>2012-10-26 23:22:32</td>
                        <td>成功</td>
                        <td>13737762836</td>
                        <td>亲爱的会员，您好，欢迎登录什么什么做....</td>
                        <td><a href="#">重发</a></td>
                    </tr>
                </table>
                <div class="pages">第一页 第二页</div>
        </div>
</div>




</body>
<!--
EOT;
?>
-->