<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--<?php
print <<<EOT
-->
<head>
<title>$titleDB[title]</title>
<script type="text/javascript" src="$webdb[www_url]/images/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="$webdb[www_url]/images/dtree.js"></script>
<link href="$webdb[www_url]/images/style.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="keywords" content="$titleDB[keywords]">
<meta name="description" content="$titleDB[description]">
</head>
<!--
EOT;
?>
-->