<!--
<?php
print <<<EOT
-->
<body class="index">


<div class="index_top">
		<div class="index_top_content">
        		<a href="$webdb[www_url]/"><img src="$webdb[www_url]/images/index_logo.gif" /></a>
                <div class="contact">
                		<a href="$webdb[www_url]/">首页</a> | <a href="$webdb[www_url]/help">帮助中心</a>
                </div>
        </div>
</div>



	<div class="side_menu"><!--A001-->
    	<a submenu="1" href="javascript:void(0)" class="select">登录注册</a>
        <a submenu="2" href="javascript:void(0)">资讯公告</a>
    </div>
    <div class="side_content">
        <div submenu="1">
        		<div class="content_1">
                		<div class="content_title">亲爱的会员，欢迎您登录！</div>
                        <div  class="login_content"><!--A003-->
                        		<form>
                                		<label>用户名：<input name="username" type="text" /></label>
                                        <label>密 码：<input name="password" type="password" /></label>
                                        <div class="remember"><label><input type="checkbox" name="remember" value="true" /> 记住登录状态</label> &nbsp; <a href="#">忘记密码？</a></div>
                                        <a class="login" href="javascript:void(0)">登录</a>
                                </form>
                        </div>
                </div>
                <div class="content_2">
                		<div class="content_title">还没有账号，马上注册？</div>
                        <div  class="login_content"><!--A002-->
                        		<form>
                                		<label>用户名：<input title="用户名格式应由英文字母、数字或部分符号组成的5位或以上组合" type="text" name="username" /></label>
                                        <label>密 码：<input type="password" name="password" /></label>
                                        <label>确认密码：<input type="password" name="password2" /></label>
                                        <a class="reg" href="javascript:void(0)">注册</a>
                                </form>
                        </div>
                </div>
        </div>
        <div submenu="2" style="display:none">
        	<div class="content_1">拍拍送新闻</div>
            <div class="content_2">公告通知</div>
        </div>
    </div>




<ul class="trait">
		<li>短信资费低至0.06元/条</li>
		<li>三网合一，即发即到</li>
		<li>网关发送速度无延迟</li>
		<li>失败退款，成功计费</li>
		<li>客户关系管理（CRM）</li>
		<li>在线充值，即充即用</li>
		<li>提供正规充值发票</li>
		<li>支持上传导入群发</li>
		<li>自定义发送内容模板</li>
		<li>节日计划，定时发送</li>
		<li>图形化统计数据报表</li>
		<li>发送记录</li>
</ul>


<div class="foot">
Copyright &copy; 2012 拍拍送 PPSMS.COM 版权所有<br />
增值电信业务经营许可证：A2.B1.B2-20090021   ICP证号：沪ICP备05001400
</div>



</body>
<!--
EOT;
?>
-->