<!--
<?php
print <<<EOT
--> 
<table width="100%" border="0" cellspacing="3" cellpadding="3"><tr><td width='28%'></td><td width='72%'></td></tr><tr> <td >公司名称:<br></td> <td > <input type='text' name='postdb[company]' id='atc_company' size='30' value='$rsdb[company]'> </td></tr><tr> <td >所属部门:<br></td> <td > <input type='text' name='postdb[dept]' id='atc_dept' size='30' value='$rsdb[dept]'> </td></tr><tr> <td >职位名称:<br></td> <td > <input type='text' name='postdb[job]' id='atc_job' size='30' value='$rsdb[job]'> </td></tr></table>
<!--
EOT;
?>-->