<!--
<?php
print <<<EOT
--> 
<table width="100%" border="0" cellspacing="3" cellpadding="3"><tr> <td style='border-bottom:1px dotted #ccc;'>公司名称:</td> <td  style='border-bottom:1px dotted #ccc;'>{$rsdb[company]}&nbsp;&nbsp;&nbsp;</td></tr><tr> <td style='border-bottom:1px dotted #ccc;'>所属部门:</td> <td  style='border-bottom:1px dotted #ccc;'>{$rsdb[dept]}&nbsp;&nbsp;&nbsp;</td></tr><tr> <td style='border-bottom:1px dotted #ccc;'>职位名称:</td> <td  style='border-bottom:1px dotted #ccc;'>{$rsdb[job]}&nbsp;&nbsp;&nbsp;</td></tr></table>
<!--
EOT;
?>-->