<!--
<?php
$order=="posttime"&&$posttime_out="select";
$order=="sendtime"&&$sendtime_out="select";
print <<<EOT
-->
<body>
<!--include
EOT;
@include(html("side_menu"));
$select_out=$state?"":"select";
print<<<EOT
include-->
<div class="main">
        <div class="location"><div><a href="#">短信功能</a> <img src="$webdb[www_url]/images/location_arrow.gif"> <a href="#">历史发送记录</a></div></div>
        <div class="main_content"><form>
		        <div class="page_title">
                        <h1>历史发送记录</h1>
                        <a href="$webdb[www_url]/send_log" class="$select_out">所有</a>
                        $submenu_out
                </div>
                <div class="item">   
<table width="100%" class="item_table">
<tr>
<th>编号</th>
<th>状态</th>
<th>发送时间</th>
<th>接收号码</th>
<th width="400">短信内容</th>
</tr>
<!--
EOT;
$list_sum=count($listdb);
foreach($listdb AS $key=>$rs){
$rs[receiver]=cut_end_str($rs[receiver],',');
$rs[receiver_out]=get_word($rs[receiver],20);
$rs[message_out]=get_word($rs[message],30);
$rs[state_out]=state_color($rs[state]);
print <<<EOT
-->
<tr class="ajax_delete_$rs[slid]">
<td>$rs[slid]</td>
<td>$rs[state_out]</td>
<td>$rs[posttime]</td>
<td><a href="javascript:void" name="receiver_$key" title="$rs[receiver]">$rs[receiver_out]</a><span class="gray">（$rs[receiver_num]位）</span></td>
<td align="left"><a href="javascript:void" name="message_$key" title="$rs[message]">$rs[message_out]</a><span class="gray">（$rs[message_words]字）</span></td>
</tr>
<!--
EOT;
}
print <<<EOT
-->
</table>
							<div class="item_tab_op">
                                <span class="pages">$list_sum 条记录</span>
                            </div>
</div>
        </form></div>
</div>




</body>
<!--
EOT;
?>
-->