@charset "GBK";
/* CSS Document */

* html, * html
body{background-attachment:fixed}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,form,label,table,caption,tbody,tfoot,thead,tr,th,td{ margin:0;padding:0;border:0;outline:0;font-size:100%;font-style:normal;text-decoration:none}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}input{font-size:12px;vertical-align: middle; margin:0}body{font-family:Arial,Helvetica,sans-serif,"宋体";font-size:12px;line-height:1.6;color:#333}select,input,button,textarea{font:100% Tahoma,Helvetica,Arial,sans-serif}a:link,a:visited,a:hover,a:active{font-family:Arial,Helvetica,sans-serif,"宋体";text-decoration:none;outline:none}a{color:#1261D7}a:hover{color:#f60; text-decoration:underline}

body{ background:url(top_bg.gif) repeat-x}
.gray{ color:#CCC}
.green{ color:#093}
.red{ color:#F00}
.orange{ color:#F00}
.money{ color:#FF2900; font-weight:bolder; font-size:14px}
input[type="text"],input[type="password"]{ width:118px; height:20px; line-height:20px; border:1px solid #b3dbff; background:#f5fafd; padding:0; padding-left:5px; margin:1px}
input[type="text"].w200,input[type="password"].w200{ width:200px}
input[type="text"].w50,input[type="password"].w50{ width:50px}
input.readonly[type="text"],input.readonly[type="password"]{ background:#f1f1f1; border-color:#CCC}
textarea{ font-size:12px; border:1px solid #b3dbff; background:#f5fafd; padding:5px; margin:1px}
select option span{ color:#ccc}
 a.button{ padding:10px 20px; margin:0 8px; letter-spacing:2px; font-size:14px; background:#3f95d6; border:1px solid #166dc1; color:#FFF;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;-moz-box-shadow:0px 1px 2px #3f95d6;-webkit-box-shadow:0px 1px 2px #3f95d6;box-shadow:0px 1px 2px #3f95d6}
a.button:hover{ text-decoration:none; background:#56a2e6}
a.disable,a.disable:hover{ color:#999; background:#f1f1f1;border:1px solid #ddd;-moz-box-shadow:0px 1px 2px #f1f1f1;-webkit-box-shadow:0px 1px 2px #f1f1f1;box-shadow:0px 1px 2px #f1f1f1}
a.disable img{display:inline;margin-left: 8px;margin-top: -4px;vertical-align: middle}
select[multiple='multiple']{ width:305px; border:1px solid #b3dbff; padding:5px; margin:1px}
div.item div.item_body input[type="text"][plugin="date"].long_input{ width:305px; background-position:290px 3px}
a.addtr{padding-left:17px;line-height: 25px;background: url(add_ico.gif) no-repeat 0 1px;color: #3E95D6;}
.infobox{ clear:both; margin:0 18px; padding:30px; text-align:center; border-top:4px solid #DEEFFA; border-bottom:4px solid #DEEEFA; background:#F2F9FD; zoom:1; }
.btn{padding:4px 18px; margin:0 8px; letter-spacing:2px; font-size:14px; background:#3f95d6; border:1px solid #166dc1; color:#FFF;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;-moz-box-shadow:0px 1px 2px #3f95d6;-webkit-box-shadow:0px 1px 2px #3f95d6;box-shadow:0px 1px 2px #3f95d6}
.btn:hover{text-decoration:none; background:#56a2e6}
input.gray{background:#f4f4f4; border:1px solid #aeaeae; color:#2c2c2c;-moz-box-shadow:0px 1px 2px #acacac;-webkit-box-shadow:0px 1px 2px #acacac;box-shadow:0px 1px 2px #acacac}
input.gray:hover{background:#fff}
span.refresh2{ font-size:14px; color:#090; font-weight:bolder}
a.index_font{ color:#666; text-decoration:underline}
div.head{ width:100%; height:67px; background:url(top_bg2.gif) right top no-repeat}
div.head div.welcome{height:60px; line-height:60px; float:right; width:300px; text-align:right; padding-right:50px; color:#0986cd}
div.side{position:absolute; left:0; top:67px; bottom:0; width:165px; background:#e3f1fa url(side_bg.gif) repeat-y}
div.side div.side_menu{ height:28px; background:#3896d1; padding-left:10px}
div.side div.side_menu a{ display:block; font-weight:bolder; height:25px; line-height:25px; width:66px; float:left; border:1px solid #3896d1; border-bottom:0; margin-top:2px; color:#FFF; text-align:center; margin-left:2px}
div.side div.side_menu a:hover,div.side div.side_menu a.select{ color:#000; background:#e3f1fa; border-color:#2382bd; text-decoration:none}
div.side div.side_content{ margin:8px 6px; border:1px solid #46a3de; background:#FFF; padding:10px}
div.main{position:absolute; right:0; left:165px; overflow:auto; top:67px; bottom:0; background:#FFF; border:1px solid #b6c5ce; }
div.main div.main_content{ background:url(body_bg.gif) repeat-x; overflow:auto; padding:0 0 50px 0}
div.page_title{padding:22px 0 16px 18px;}
div.page_title h1{ font-size:14px; font-weight:bolder; color:#3e95d6; display:inline; padding-right:20px}
div.page_title a{ color:#656565; font-weight:bolder; padding:4px 8px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
div.page_title a.select,div.page_title a:hover{ background:#656565; color:#fff; text-decoration:none}
div.page_title a.select:hover{ background:#656565; color:#fff}
div.page_title a:hover{ background:#DDD;color:#656565;}

div.location{ height:26px; border-bottom:1px solid #b4cedc; overflow:hidden}
div.location div{ height:24px; line-height:24px; margin:1px; background:#ecf6fc; padding-left:9px}
div.location a{ color:#333}
div.kk_title{ height:26px; line-height:26px; background:url(kk_bg.gif); border:1px solid #d6d6d6; border-bottom:0}
div.kk_title h1{ color:#1a5777; font-size:14px; display:block; height:26px; line-height:26px; padding-left:24px; background:url(kk_bg.gif) 0 bottom no-repeat;}
div.kk_content{border:1px solid #d6d6d6; padding:10px}

table.ui,table.ui td,table.ui th{ border:1px solid #bbd7ef; border-collapse:collapse; text-align:center}
table.ui th,table.ui td{height:23px; line-height:23px; }
table.ui th{ background:url(th_bg.gif)}
table.ui tr.highlight td{ background:#f3fbfe}
div.pages{border:1px solid #bbd7ef; border-top:0; height:23px; line-height:23px;background:url(th_bg.gif)}


/*index login style*/
body.index{ background:#e6f7ff url(index_bg.gif) repeat-x;}
body.index div.side_menu{ width:750px; margin:auto; height:33px; margin-top:30px}
body.index div.side_menu a{ display:block; background:#eeeeee; color:#8f8f8f; height:33px; line-height:33px; padding:0 20px; float:left; margin-left:5px; font-weight:bolder; font-size:14px; font-family:'黑体';-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;}
body.index div.side_content{ width:770px; margin:0 auto; background:#FFF url(middle_line.gif) center center no-repeat;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; padding:10px 10px 30px 10px; overflow:auto}
body.index div[submenu]{ overflow:auto}
body.index div.side_content div.content_title{ font-size:14px; color:#006da7; font-weight:bolder; margin:40px 49px; letter-spacing:1px}
body.index div.side_content div.content_1{width:50%; float:left}
body.index div.side_content div.content_2{ margin-left:50%}
body.index div.side_menu a.select,body.index div.side_menu a:hover{ color:#106da7; background:url(index_menu_bg.gif); text-decoration:none}
div.index_top{ background:url(index_top_bg.gif) right top no-repeat; width:100%;}
div.index_top_content{ width:850px; height:87px; margin:0 auto}
div.index_top_content div.contact{ float:right; height:60px; line-height:60px; padding-right:50px}
div.index_top_content div.contact a{ color:#000; margin:0 5px}
div.index_top_content div.contact a:hover{color:#f60; text-decoration:underline} 
div.login_content label{ display:block; height:24px; line-height:24px; margin:0 118px 12px 50px}
div.login_content input[type='text'],div.login_content input[type='password']{ border:1px solid #01a9ff; width:130px; height:22px; line-height:22px; background:#e6f7ff url(input_ico.gif) no-repeat 4px 4px; padding:0 0 0 23px; float:right}
div.login_content input[type='password']{ background-position: 4px -96px}
div.login_content input[type='text']:focus{ background-position:4px -46px; border-color:#f60}
div.login_content input[type='password']:focus{ background-position:4px -146px; border-color:#f60}
div.login_content a.reg,div.login_content a.login{ width:169px; height:45px; display:block; background:url(button.gif) 0 -45px; text-indent:-9999px; margin:30px auto}
div.login_content a.reg{ background-position:0 top}
div.login_content div.remember{ margin-left:100px; height:24px}
div.login_content div.remember label{ display: inline; margin:auto}
ul.trait{ width:800px; margin:40px auto 30px auto; padding-left:50px; overflow:auto}
ul.trait  li{ background:url(index_tag.gif) no-repeat 5px 0; padding-left:32px; float:left; width:21%; height:38px; line-height:25px; color:#006da7}
div.foot{ background:url(foot_bg.gif) center 0 no-repeat; width:800px; height:50px; margin:auto; text-align:center; line-height:22px; padding:10px 0; color:#b5c9de}



/*dTree*/
.dtree {	white-space: nowrap;}
.dtree img {	border: 0px;	vertical-align: middle;}
.dtree a {	text-decoration: none;color:#333}
.dtree a.node, .dtree a.nodeSel {	white-space: nowrap;	padding: 1px 2px 1px 2px;}
.dtree a.node:hover, .dtree a.nodeSel:hover {	text-decoration: underline; color:#f60}
.dtree a.nodeSel {	background-color: #c0d2ec;}
.dtree .clip {	overflow: hidden;}
.dTreeNode{ display:none}
.clip .dTreeNode{ display: inherit}

/*item*/
div.item{ overflow:auto; margin:0 20px; padding:6px 0; border-top:1px dashed #e4f1fb}
div.item div.item_title{ font-weight:bolder; float:left; width:330px}
div.item div.item_body{ float:left; width:350px; clear: both; padding:8px 0; line-height:32px}
div.item div.item_body input[type="text"], div.item div.item_body input[type="password"]{ width:305px}
div.item div.item_body input[type="text"][plugin="date"]{ width:100px}
div.item div.item_remarks{ margin-left:350px; padding-top:26px; line-height:26px; vertical-align: inherit}
div.item div.item_remarks span{ color:#FF0000}
div.item textarea{width:300px; height:150px;overflow-x:hidden; overflow-y:scroll}
div.item label{ padding-right:30px}
div.item table.item_table{ text-align:center}
div.item table.item_table tr{ border-bottom:1px dotted #E4F1FB; height:32px; line-height:32px}
div.item table.item_table tr:hover{ background:#f2f9fd}
div.item table.item_table tr:first-child:hover{ background:none}
div.item table.item_table a{ margin:0 5px}
div.item table.item_table2{ text-align:left}
div.item div.item_tab_op{height:60px; line-height:60px; padding-left:0px}
div.item div.item_tab_op a.button{ padding:5px 20px; margin:0}
div.item div.item_tab_op span.pages{ float:right; padding-right:10px}
div.sub_title{ color:#3E95D6; background:#eef6fc; font-weight:700; height:32px; line-height:32px; border-bottom:1px dotted #deeffb; margin:4px 18px 4px 18px; padding-left:5px}
div.sub_title a{ color:#666; text-decoration:underline; margin-left:10px}
div.sub_title a:hover{ color:#f60}
ul.help_tips{margin:0 0 6px 0; padding-left:25px; color:#555555}
ul.help_tips li{ padding:4px 0 4px 13px; background:url(li_dot.gif) no-repeat 0 10px}

div.ajax_submit_tips{ border:1px solid #ff3333; white-space:nowrap; color:#993333; background:#ffcccc; padding:10px 15px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; line-height:16px;-moz-box-shadow:1px 1px 2px #fdcccc;-webkit-box-shadow:1px 1px 2px #fdcccc;box-shadow:1px 1px 2px #fdcccc}
div.ajax_submit_tips span.arrow{ position:absolute; margin-left:-23px; background:url(arrow.gif); width:8px; height:15px}
div.ajax_submit_tips span.tips_close{ float:right; font-size:10px; text-decoration:none; margin-top:-10px; margin-left:5px; color:#ff3333; cursor:pointer; position:absolute}
div.ajax_submit_tips span.tips_close:hover{ color:#990000}
div.ajax_submit_alert{ background: #f3ffea url(right_ico.gif) 10px center no-repeat; padding-left:55px; padding-right:20px; border:1px solid #5bbf00;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;bottom: -80px;height: 80px; line-height:80px; font-size:14px;min-width: 200px;left: 50%;margin-left: -120px;position: fixed;filter:alpha(opacity=0); -moz-opacity:0; -khtml-opacity: 0; opacity: 0;-moz-box-shadow:2px 2px 2px #daedbd;-webkit-box-shadow:2px 2px 2px #daedbd;box-shadow:2px 2px 2px #daedbd}
div.shower_title{margin:20px; border-bottom:1px solid #CCC; font-size:14px; padding:8px; letter-spacing:2px}
div.msg_blue{ border:1px solid #cde4ff;background:#f6f9fd; padding:14px 10px 10px 40px; margin:25px; overflow:auto}
div.msg_blue div{ width:550px; float:right; padding:5px 20px 5px 0; letter-spacing:1px; font-size:14px}
div.msg_blue div:first-child{ width:32px; height:32px; background:url(icon_100b.gif) 0 -100px; overflow:hidden; float:left; padding:0}
body.index div.showerr{background:#FFF; width:720px; margin-top:30px}